<a href="https://colab.research.google.com/github/377Harun/BirliktelikAnaliziApi/blob/main/googlecolabJupyterNoteBook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [8]:
df = pd.read_csv("sample_data/advertising.csv")

In [9]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [16]:
train_x , train_y , test_x , test_y = train_test_split(df , test_size=0.25)

model = LinearRegression(fit_intercept=True)

ValueError: ignored